* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug #app-nav {   
    width: 70%;
    height: 50px;
    background-color: yellow;
    margin: 10px auto;
}

.debug #flex-nav {
    display: flex;  
    justify-content: space-between;
}

#links ul {
    display: flex ;
    list-style: none;
    justify-content: space-around;
}

.debug #app-header {
    width: 60%;
    background-color: pink;
    height: 200px;
    margin: 10px auto;
}

.debug .d-flex {
    width: 70%;
    background-color: gray;
    height: 300px;
    margin: 20px auto;
}

.d-flex {
    display: flex;
}

/* #app-main {
    background-color: green;
} */

.debug #image1 {
    background-color: rgb(59, 59, 255);
    width: 60%;
    padding: 1rem;
}

.debug #description1 {
    background-color: pink;
    width: 40%;
    padding: 1rem;

}

.debug #image2 {
    background-color: rgb(59, 59, 255);
    width: 60%;
    padding: 1rem;
}

.debug #description2 {
    background-color: pink;
    width: 40%;
    padding: 1rem;
}

.debug #image3 {
    background-color: rgb(59, 59, 255);
    width: 60%;
    padding: 1rem;
}

.debug #description3 {
    background-color: pink;
    width: 40%;
    padding: 1rem;
}

.debug #image4 {
    background-color:darkgreen;
    padding: 1rem;
    width: 100%;
}

.debug #mainfooter {
    background-color:firebrick;
    width: 40%;
}

.debug #prodotto {
    background-color:aquamarine;
    width: 15%;
    border: 3px solid white;
}

.debug #compagnia {
    background-color:aquamarine;
    width: 15%;
    border: 3px solid white;}

.debug #risorse {
    background-color:aquamarine;
    width: 15%;
    border: 3px solid white;}

.debug #norme {
    background-color:aquamarine;
    width: 15%;
    border: 3px solid white;}